<!DOCTYPE html>
<html>
<head>
  <title>BadassChickDatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    
      <div class="navbar-header">

	      	<!-- <a href="/welcome/index" class="logo">BCDB</a> -->
	      	<%= link_to "BCDB", root_path, class: "logo" %>
		      	<div class="navBar">
		      		
			      	<span class="navLinks">Category</span>
			      	<span class="navLinks"><%= link_to "Add Profile", new_chick_path %></span>
			      	<span class="navLinks"><%= link_to "See All", chicks_path %></span>
		      </div>
	    
        <p class="logins">
          <% if current_user %>
            <%= link_to "Logged In! #{current_user.name}", user_path(current_user) %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Logout', session_path('dummy'), method: :delete %>
          <% else %>
            <%= link_to 'Login', login_path %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Sign Up', new_user_path %>
          <% end %>
        </p>
      </div>


</nav>


<%= yield %>

</body>
</html>
